<!DOCTYPE html>
<html>

<head>
    <title>Olvidaste tu contrase침a</title>
</head>

<body>
    <div>
        <h3>Estimado {{name}},</h3>
        <p>Solicit칩 un reseteo de contrase침a, use este <a href="{{url}}">enlace</a> para restablecer su contrase침a</p>
        <br>
        <p>Saludos!</p>
    </div>

</body>

</html>