<!DOCTYPE html>
<html>

<head>
    <title>Welcome!</title>
</head>

<body>
    <div>
        <h3>Estimado {{name}},</h3>
        <p>Tu cuenta está lista para comenzar.</p>
        <br>
        <div>
            Saludos!
        </div>
    </div>
   
</body>

</html>