<!DOCTYPE html>
<html>

<head>
    <title>Contrase침a cambiada</title>
</head>

<body>
    <div>
        <h3>Estimado {{name}},</h3>
        <p>Su contrase침a se ha restablecido correctamente, ahora puede iniciar sesi칩n con su nueva contrase침a.</p>
        <br>
        <div>
            Saludos!
        </div>
    </div>
   
</body>

</html>